.brandsSubtitle {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brandsLogosContainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 6% auto;
    width: 80vw;
}

.brandsLogos {
    width: 69.665px;
    width: 25%;
    margin: 0 3%;
    /* height: 53.004px; */
}
.logoFirstLine {
    /* width: 35%; */
    margin: 0 6%;

}
.nacion{
    width: 26.5%;
    margin: 0 2.5% 0 2%;
}

.smallBrand {
    width: 23%;
    margin: 0 4%;
}