.brandsSubtitle {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brandsLogosContainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 6% auto;
    width: 80vw;
    align-items: center;
}

.brandsLogos {
    width: 69.665px;
    width: 25%;
    margin: 0 3%;
}
.logoFirstLine {
    margin: 0 6%;

}
.bigBrand{
    width: 26.5%;
    margin: 0 2.5% 0 2%;
}

.smallBrand {
    width: 23%;
    margin: 0 4%;
}
.brandsMobile {
    display: flex;
}
.brandsDesktop {
    display: none;
}

@media (min-width: 767px) {
    .brandsSubtitle{
        font-size: 15.182px;
    }
    .brandsMobile {
        display: none;
    }
    .brandsDesktop {
        display: flex;
    }

    .brandsLogos {
        width: 18%;
        margin: 0 1%;
    }
    .logoFirstLine {
        margin: 0 2%;
    }
}