#product {
    background-color: var(--dark-grey);
    padding-bottom: 5%;
}

.productTitle {
    width: 50%;
    margin: auto;
    padding-bottom: 10%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
    height: 180px !important;
}
.swiper-slide {
    display: flex !important;
    flex-direction: row;
    height: 149px !important;
    transition: height 0.3s !important;
}

.swiper-slide.swiper-slide-active {
    /* transform: scale(1.2) !important; */
    height: 174px !important;
    z-index: 1;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
    height: 149px !important;
}

.sliderImage{
    width: 50%;
    object-fit: cover;
    border-radius: 8.532px 0 0 8.532px;
}
.sliderText{
    background-color: #fff;
    width: 50%;
    border-radius: 0 8.532px 8.532px 0;
    padding: 1% 4% 1% 1%;
}
.sliderItem{
    color: #7E7E80;
    font-family: 'Roboto';
    font-size: 10.35px;
    font-weight: 400;
    line-height: 14px;
}
.sliderTitle {
    font-size: 12px;
    font-weight: 600;
    padding: 7% 0 4% 16%;
}
.imageSliderPosition {
    object-position: -40px;
}

@media (min-width: 639px) {
    .productTitle{
        width: unset;
        padding-bottom: 5%;
    }
    .sliderTitle {
        font-size: 14px;
        padding: 10% 0 4% 11%;
    }
    .sliderItem {
        font-size: 12px;
        line-height: 16px;
    }
    .sliderText {
        width: 38%;
    }

    .swiper-wrapper {
        padding-bottom: 3%;
        height: 200px !important;
    }

    .swiper-slide {
        display: flex !important;
        flex-direction: row;
        height: 165px !important;
        justify-content: center;
    }

    .swiper-slide.swiper-slide-active {
        /* transform: scale(1.2) !important; */
        height: 200px !important;
        z-index: 1;
    }

    .swiper-slide.swiper-slide-next,
    .swiper-slide.swiper-slide-prev {
        height: 165px !important;
    }

}

@media (min-width: 1023px) {
    
    .sliderTitle {
        padding: 9% 0 4% 7.5%;
    }
    .sliderImage {
        width: 45%;
    }
    .sliderText{
        width: 34%;
    }
    .swiper-slide {
        justify-content: center;
    }
}

@media (min-width: 1259px) {
    .productTitle{
        width: unset;
        padding-bottom: 6%;
    }
    .sliderTitle {
        font-size: 25px;
        padding: 7% 0 4% 7.5%;
    }
    .sliderItem {
        font-size: 18px;
        line-height: 23px;
    }

    .swiper-wrapper {
        padding-bottom: 3%;
        height: 290px !important;
    }

    .swiper-slide {
        display: flex !important;
        flex-direction: row;
        height: 210px !important;
    }

    .swiper-slide.swiper-slide-active {
        /* transform: scale(1.2) !important; */
        height: 290px !important;
        z-index: 1;
    }

    .swiper-slide.swiper-slide-next,
    .swiper-slide.swiper-slide-prev {
        height: 210px !important;
    }

    
    .sliderImage{
        border-radius: 15.532px 0 0 15.532px;
    }
    .sliderText{
        border-radius: 0 15.532px 15.532px 0;
        width: 40%;
    }
}