.about2Image {
    width: 205px;
    height: 228px;
    margin: 4% 10%;
}

.accordion-button::after {
    background-image: none !important;
}
.accordion-button:not(.collapsed) {
    color:none !important;
    background-color:white !important;
    box-shadow:none !important;
}

.accordion-button.collapsed {
    /* padding-bottom: 0 !important; */
    padding: 2%;
}
.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.accordion-button {
    padding: 5% 0;
}

.accordion {
    border-radius: 10.355px;
    background: #FFF;
    box-shadow: 0px 2.07098px 7.76618px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 130px;
    width: 65%;
    left: 27%;
    padding: 5% 0 7% 0%;
    margin-bottom: -15%;
}
.accordion-item:last-of-type {
    border-radius: 0px;
}

.accordion-item {
    border: none;
    border-bottom: 1px var(--dark-grey) solid;
    width: 72%;
    margin: auto;
}

.accordionTitle {
    font-size: 12.944px !important;
    font-weight: 600 !important;    
}
.accordionText {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accordion-body {
    padding: 0;
}

.iconPlus {
    font-size: 25px;
    margin: -5px 5px -5px 5px;
}
.desktopBreak {
    display: none;
}
@media (min-width: 767px) {
    .about2Image {
        width: 256.802px;
        height: 285.795px;
        margin: 4% 10%;
    }
    .accordion {
        width: 50%;
        padding: 2% 0;
        bottom: 280px;
        left: 40%;
    }
    .accordion-item {
        width: 84%;
    }
    .accordionTitle {
        font-size: 20px !important;    
    }
    .accordionText {
        font-size: 14px;
    }
}
@media (min-width: 1023px) {
    .accordion {
        bottom: 340px;
        margin-bottom: -13%;
    }
    .about2Image {
        margin: 4% 13%;
        width: 300px;
        height: 337.25px;
    }
    .mobileBreak {
        display: none;
    }
    .desktopBreak{
        display: block;
    }
}