.about2Image {
    width: 205px;
    height: 228px;
    margin: 4% 10%;
}

.accordion-button::after {
    background-image: none !important;
}
.accordion-button:not(.collapsed) {
    color:none !important;
    background-color:white !important;
    box-shadow:none !important;
    padding: 3% 0;
}
.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.accordion-button {
    padding: 2% 0;
}

.accordion {
    border-radius: 10.355px;
    background: #FFF;
    box-shadow: 0px 2.07098px 7.76618px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 130px;
    width: 65%;
    left: 27%;
    padding: 5% 0 7% 0%;
    margin-bottom: -15%;
}
.accordion-item:last-of-type {
    border-radius: 0px;
}

.accordion-item {
    border: none;
    border-bottom: 0.5px var(--dark-grey) solid !important;
    width: 77%;
    margin: auto;
}

.accordionTitle {
    font-size: 13.7px !important;
    font-weight: 600 !important;    
}
.accordionText {
    font-size: 10.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-left: 3%;
}

.accordion-body {
    padding: 0;
}

.iconPlus {
    font-size: 25px;
    margin: -5px 5px -5px 5px;
}
.desktopBreak {
    display: none;
}
.tabletBreak {
    display: none;
}

@media (min-width: 639px) {
    .about2Image {
        width: 256.802px;
        height: 285.795px;
        margin: 4% 10%;
    }
    .accordion {
        width: 50%;
        padding: 2% 0;
        bottom: 280px;
        left: 40%;
    }
    .accordion-item {
        width: 84%;
    }
    .accordionTitle {
        font-size: 20px !important;    
    }
    .accordionText {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 4.5%;
    }
    
    .mobileBreak {
        display: none;
    }
    .tabletBreak {
        display: block;
    }
    
    .accordion-button {
        padding: 3% 0;
    }


}
@media (min-width: 1023px) {
    
    .accordionText {
        font-size: 12.5px;
    }
    .accordion {
        bottom: 340px;
        margin-bottom: -13%;
        width: 40%;
        left: 44%;
    }
    .about2Image {
        margin: 4% 17%;
        width: 300px;
        height: 337.25px;
    }
}

@media (min-width: 1259px) {
    .about2Image {
        width: 400px;
        height: 445.94px;
        margin: 4% 10%;
    }
    .accordionText {
        font-size: 14px;
    }
    .accordion {
        bottom: 450px;
        left: 39%;
        width: 50%;
    }
    .tabletBreak {
        display: none;
    }
    .desktopBreak{
        display: block;
    }
    .iconPlus {
        font-size: 33px;
    }

    .accordion-button {
        padding: 2% 0;
    }
}
  
@media (min-width: 1499px) {
    .about2Image {
        width: 496px;
        height: 552px;
        margin: 4% 10%;
    }
    .accordionText {
        font-size: 16px;
    }
    
    .accordion {
        bottom: 545px;
    }
}


/* 360*740 */
@media(min-width:340px) and (max-width:374px) {
    .accordion-item {
        width: 80% !important;
    }
}
