.about {
    background-color: #E5B233;
}

.aboutCardContainer {
    height: 166.307px;
    border-radius: 13.859px;
    background: #FFF;
    box-shadow: 0px 2.77178px 10.39419px 0px rgba(0, 0, 0, 0.25);
    padding: 9% 6%;
    width: 65vw;
    margin: 9% auto;
}

.aboutCardText {
    font-size: 11.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1% 6% 0 13%;
}

.aboutCardContainer h4 {
    font-size: 17.324px;
    font-weight: 600;
    line-height: normal;
}

.ticIcon {
    width: 15px;
    margin: 0% 3% 3% 3%;
}

@media (min-width: 639px) {
    
    .about1Container{
        display: flex;
        justify-content: center;
    }

    .aboutCardContainer {
        width: 26vw;
        margin: 4% 2%;
        padding: 3% 0 1% 4%;
        /* height: 124.259px; */
        height: 15vh;
        min-height: 100px;
    }

    .aboutCardContainer h4 {
        font-size: 12.944px;
    }
    .aboutCardText {
        font-size: 8.284px;
        margin: 3% 0;
    }
    .ticIcon {
        display: none;
    }
    
}

@media (min-width:1023px){
    .aboutCardContainer {
        width: 21vw;
        height: 12vh;
    }
}

@media (min-width:1259px){
    .aboutCardText {
        font-size: 16px;
        margin: 3% 0 0 12%;
    }
    .aboutCardContainer {
        width: 26vw;
        height: 23vh;  
        padding: 3% 2% 3% 3%;
        margin: 4% 2%;
    }
    .ticIcon {
        display: inline;
        width: 17px;
        margin: 0% 3% 2% 3%;
    }
    .aboutCardContainer h4 {
        font-size: 25px;
        font-weight: 600;
        line-height: normal;
    }
}

@media (min-width:1500px){
    .aboutCardText {
        font-size: 16px;
        margin: 3% 0 0 12%;
    }
    .aboutCardContainer {
        width: 24vw;
        height: 33vh; 
        /* height: 33%;    */
        padding: 3% 2% 3% 3%;
        margin: 4% 2%;
    }
    .ticIcon {
        display: inline;
    }
    .aboutCardContainer h4 {
        font-size: 25px;
        font-weight: 600;
        line-height: normal;
    }
}