.footer {
    background-color: #464646;
    height: 20vh;
    /* height: 144px; */
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding: 7%;
    align-items: center;
}

.logoFooter {
    width: 129.975px;
    height: 27.23px;
}
.logoFooterText {
    color: #FFF;
    font-size: 5.614px;
    font-style: italic;
    font-weight: 500;
    width: 129.975px;
    text-align: center;
    margin: 4% 0;
}

.logoSSNFooter{
    width: 89px;
    height: 12.988px;
}

.ssntext {
    color: #FFF;
    text-align: center;
    font-size: 4.087px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.qrtext {
    color: #FFF;
    text-align: center;
    margin: 0;
    font-size: 5px;
    font-weight: 400;
    margin-top: 3px;
}

/* .rightFooter {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */

@media (min-width: 639px ){
    .footer {
        height: 130px;
        justify-content: space-around;
    }
    .logoFooter { 
        width: 160px;
        height: auto;
    }
    .logoFooterText {
        font-size: 9px;
        width: 160px;/* siempre acompañando el tamaño del logo */
        margin: 5% 0;
    }

    .logoSSNFooter{
        width: 160px;
        height: auto;
    }

    .ssntext {    
        text-align: center;
        font-size: 6px;
        font-weight: 100;
        padding-top: 3%;
    }
    .qrFooter {
        width: 45px;
        height: auto;
    }
    .qrtext {
        font-size: 8px;
        margin-top: 4px;
    }

}

@media (min-width: 1023px ){
    .footer {
        height: 150px;
    }
    .logoFooter { 
        width: 215px;
    }
    .logoFooterText {
        width: 215px;
    }

    .logoSSNFooter{
        width: 215px;
    }

    .ssntext {
        font-size: 10.087px;
    }
    .qrFooter {
        width: 60px;
    }
    
}

@media (min-width: 1259px ){
    .footer {
        height: 150px;
    }
    .logoFooter { 
        width: 290px;
    }
    .logoFooterText {
        width: 290px;
        font-size: 10px;
        font-weight: 300;
    }

    .logoSSNFooter{
        width: 290px;
    }

    .ssntext {
        font-size: 10.087px;
    }
    .qrFooter {
        width: 90px;
    }
    .qrtext {
        font-size: 9px;
        font-weight: 300;
    }
    
}