.contactContainer {
    
    background: url('../../images/lastpage.jpg') center center; 
    background-size: cover;
    /* height: 80vh; */
    /* padding-bottom: 5%; */
}

.contactOrangeContainer {
    background: rgba(229, 178, 51, 0.8);
    padding-bottom: 5%;
}

.contactOrangeContainer > h4 {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    width: 80vw;
    margin: auto;
}

.contactOrangeContainer >  .subtitleContact {
    font-weight: 600;
    margin: 3% auto;
    font-weight: 800;
}

.contactOrangeContainer > .contactText {
    color: #FFF;
    margin: 4% auto;
    font-size: 11px;
    font-weight: 300;
}

@media (min-width: 767px){
    .contactOrangeContainer > h4 {
        font-weight: 600;
        font-size: 20px;
    }
    .contactOrangeContainer >  .subtitleContact {
        font-weight: 800;
        margin: 0.5% auto;
    }
    
    .contactOrangeContainer > .contactText {
        font-size: 18px;
        margin: 2% auto;
    }
}