.contactContainer {
    background-color: var(--color-orange);
    /* height: 80vh; */
    padding-bottom: 8%;
}

.contactContainer > h4 {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    width: 80vw;
    margin: auto;
}

.contactContainer >  .subtitleContact {
    font-weight: 600;
    margin: 3% auto;
    font-weight: 800;
}

.contactContainer > .contactText {
    color: #FFF;
    margin: 4% auto;
    font-size: 11px;
    font-weight: 300;
}