.findContainer {
    background-color: #fff;
    /* height: 66vh; */
    padding-bottom: 5%;
}

.findContainer h3 {
    color: var(--dark-grey)
}

.findCardContainer {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin: 6% auto;
}
.findCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35vw;
    margin: 1% auto;
}
.findCard img {
    width: 26px;
    margin: 6% auto 9%;
}
.findCardText {
    color: #7E7E80;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mapContainer {
    width: 80vw;
    height: 127px;
    border-radius: 18.6px;
    margin: 0 10% 5% ;
}
.marker {
    color: blue;
}
.gm-fullscreen-control {
    display: none;
}

@media (min-width: 639px) {
    .findCardContainer {
        flex-wrap: nowrap;
        
        margin: 2% auto 2%;
    }
    .findContainer {
        padding-bottom: 0;
    }
    .findCard img {
        width: 30px;
        height: 35px;
    }
    .findCard{
        justify-content: space-between;
    }
    /* .findCardText{
        font-size: 9.3px;
    } */
    .mapIframe {
        width: 50%;
        height: 170.1px;
        margin: 0px 25% 5%;
    }
}
@media (min-width: 1259px) {
    .findCardContainer {
        flex-wrap: nowrap;
        width: 70vw;
        
        margin: 3% auto;
    }
    .findContainer {
        padding-bottom: 0;
    }
    .findCard img {
        width: 40px;
        height: 45px;
    }
    .findCard{
        justify-content: space-between;
    }
    .findCardText{
        font-size: 18px;
        font-weight: 400;
    }
    .mapIframe {
        width: 50%;
        height: 250px;
        margin: 0px 25% 5%;
    }
}