.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    padding: 0px 7%;
    background: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 160px;
}

.burgerMenu {
    width: 20px;
    height: 15.5px;
}

.dropdown {
    width: 126px;
    height: 177px;
    z-index: 1;
    position: absolute;
    top: 57px;
    right: 0;
    padding: 4% 7% 1% 0;
    background: #FAFAFA;
    text-align: right;
}

.dropdown p{
    color: #7E7E80;
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
}

@media (min-width: 639px){
    .navbar{
        padding: 0px 5%;
    }
    .dropdown {
        display: flex;
        justify-content: space-between;
        width: 65%;
        /* 55 */
        height: unset;
        z-index: unset;
        position: unset;
        top: unset;
        right: unset;
        padding: unset;
        background: unset;
    }

    .dropdown p{
        font-size: 9.565px;
        font-weight: 400;
        margin: 0;
        
        /* line */
        /* width: 16%; */
        width: 17.5%;
        height: 10.931px;
        border-left: rgba(141, 141, 143, 0.50) solid 1px;
    }
    .servicioNavbar {
        width: 15% !important;
    }
    .notBorderHome {
        border:none !important;
    }
}


@media (min-width: 1023px){
    
    .logo{
        width: 190px;   
    }
    .dropdown p{
        font-size: 10.565px;
        width: 15%;
    }
    .servicioNavbar {
        width: 14.5% !important;
    }
    .navbar p {
        display: inline-block;
        position: relative;
        text-decoration: none;
        cursor: pointer; /* Cambia el cursor al hacer hover */
    }
  
    .navbar p::before {
        content: "";
        position: absolute;
        width: 60%;
        text-align: center;
        height: 2px; /* Altura del subrayado */
        bottom: -5px;
        left: 30%;
        background-color: transparent; /* Color del subrayado */
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease;
    }
    .notBorderHome::before {
        
        width: 40% !important;
        text-align: center;
        height: 2px;
        bottom: -5px;
        left: 59% !important;
    }
    .navbar p.active::before {
        background-color: var(--color-orange); /* Color del subrayado cuando la clase está activa */
        transform: scaleX(1);
        transform-origin: center;
        border-radius: 20px;
    }
    .navbar p:hover::before {
        background-color: var(--color-orange); /* Color del subrayado al hacer hover */
        transform: scaleX(1);
        transform-origin: center;
    }
    .navbar p::before {
        transform: scaleX(0);
    }
}

@media (min-width: 1259px){
    .dropdown {
        width: 50%;
    }
    .dropdown p{
        font-size: 14px;
        height: 16px;
        width: 17%;
    }
    .servicioNavbar {
        width: 15.5% !important;
    }

    
}


    