.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 58px;
    padding: 0px 7%;
    background: #FAFAFA;
}

.logo {
    width: 144px;
}

.burgerMenu {
    width: 20px;
    height: 15.5px;
}

.dropdown {
    width: 126px;
    height: 162px;
    z-index: 1;
    position: absolute;
    top: 57px;
    right: 0;
    padding: 4% 7% 1% 0;
    background: #FAFAFA;
    text-align: right;
}

.dropdown p{
    color: #7E7E80;
    font-family: 'Raleway';
    font-size: 11.023px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}