#service{
    background-color: var(--color-grey);
    height: 57vh;
}
#service h3 {
    color: #464646;
    width: 85vw;
    margin: auto;
}

#service > h4 {
    color: #464646;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    width: 85vw;
    margin: 2% auto 5%;
}
.serviceCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}
.serviceCard {
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35vw;
    margin: 3% auto;
    padding: 2% 3% 4%;
    
    border-radius: 10.932px;
    box-shadow: 0px 2.18648px 8.1993px 0px rgba(0, 0, 0, 0.25);
}
.serviceCard img {
    width: 24.094px;
    margin: 6% auto 9%;
}
.serviceCardText {
    color: #464646;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}